In [1]:
import pandas as pd
df=pd.read_csv("medical_aid_claims.csv")
df

,member-name,email,gender,location,employer,relationship,patient_name,patient_suffix,patient_dob,cause,Fee Charged,membership_period,number_of_claims,number_of_dependants,label
0,Chipi,ajimmison0@sun.com,female,Kwekwe,Vipe,Grandfather,Mabhena,789,9/11/1997,Other,3798,1541,2,4,0
1,Femba,rsoonhouse1@google.it,female,Marondera,Mudo,Husband,Sithole,860,1/14/1992,Other,48905,8269,4,3,0
2,Geta,bchecchetelli2@house.gov,female,Rusape,Skaboo,Mother,Chipi,374,7/3/1999,Road Traffic Accident,39963,6223,2,2,0
3,Tichaona,mgarman3@psu.edu,female,Rusape,Babbleset,Father,Jembwa,729,7/31/1978,Road Traffic Accident,34948,8832,6,3,0
4,Chisa,ccough4@biglobe.ne.jp,female,Bulawayo,Flipopia,Father,Foto,716,12/28/1992,Accident At Work,46984,8804,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,Mirwa,gcobbern@microsoft.com,male,Kwekwe,Trudeo,Grandmother,Mabhena,595,11/30/1984,Other,25308,6478,4,3,0
6996,Chisa Chisi,ebrasierro@sakura.ne.jp,male,Gweru,Jetwire,Husband,Bima,158,8/6/1986,Accident At Home,32895,438,1,1,0
6997,Evans,ybuckyrp@slashdot.org,male,Rusape,Realpoint,Daughter,Dihwa,743,2/13/1980,Accident At Home,19082,8134,3,1,0
6998,Femba,raskawrq@washington.edu,female,Gweru,Eimbee,Brother,Peterson,472,12/28/2001,Other,31717,8293,4,3,1
6999,Sithole,wlantrr@quantcast.com,male,Gweru,Camimbo,Mother,Sibanda,625,3/21/2003,Other,29020,3686,3,4,0

In [2]:
df.isnull().sum()

member-name             0
email                   0
gender                  0
location                0
employer                0
relationship            0
patient_name            0
patient_suffix          0
patient_dob             0
cause                   0
Fee Charged             0
membership_period       0
number_of_claims        0
number_of_dependants    0
label                   0
dtype: int64

In [3]:
df=df.dropna()
df.isnull().sum()

member-name             0
email                   0
gender                  0
location                0
employer                0
relationship            0
patient_name            0
patient_suffix          0
patient_dob             0
cause                   0
Fee Charged             0
membership_period       0
number_of_claims        0
number_of_dependants    0
label                   0
dtype: int64

In [4]:
df.dtypes

member-name             object
email                   object
gender                  object
location                object
employer                object
relationship            object
patient_name            object
patient_suffix           int64
patient_dob             object
cause                   object
Fee Charged              int64
membership_period        int64
number_of_claims         int64
number_of_dependants     int64
label                    int64
dtype: object

In [5]:
cclum=[]
for i in df.columns:
    if df[i].dtypes=="object":
        cclum.append(i)
print(cclum)
from sklearn import preprocessing
le = preprocessing.LabelEncoder()   
df[cclum]=df[cclum].apply(le.fit_transform)
df

['member-name', 'email', 'gender', 'location', 'employer', 'relationship', 'patient_name', 'patient_dob', 'cause']

,member-name,email,gender,location,employer,relationship,patient_name,patient_suffix,patient_dob,cause,Fee Charged,membership_period,number_of_claims,number_of_dependants,label
0,1,271,0,6,330,4,15,789,5242,2,3798,1541,2,4,0
1,7,5770,0,7,189,6,22,860,79,2,48905,8269,4,3,0
2,9,666,0,11,259,7,1,374,4586,3,39963,6223,2,2,0
3,23,4544,0,11,16,3,13,729,4608,3,34948,8832,6,3,0
4,3,1150,0,1,113,3,8,716,1768,1,46984,8804,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,16,2634,1,6,311,5,15,595,1331,2,25308,6478,4,3,0
6996,4,2087,1,3,147,6,0,158,5142,0,32895,438,1,1,0
6997,6,6921,1,11,241,2,5,743,1994,0,19082,8134,3,1,0
6998,7,5449,0,3,92,1,19,472,1770,2,31717,8293,4,3,1
6999,22,6826,1,3,46,7,21,625,2580,2,29020,3686,3,4,0

In [7]:
x=df.drop(["label"],axis=1)
y=df["label"]
x=x.to_numpy()
x.shape

(7000, 14)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5600, 14) (1400, 14) (5600,) (1400,)

In [9]:
from sklearn.svm import SVC
clf=SVC()
clf.fit(X_train,y_train)

SVC()

In [10]:
y_pred=clf.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [11]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1131    0]
 [ 269    0]]
              precision    recall  f1-score   support

           0       0.81      1.00      0.89      1131
           1       0.00      0.00      0.00       269

    accuracy                           0.81      1400
   macro avg       0.40      0.50      0.45      1400
weighted avg       0.65      0.81      0.72      1400

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [12]:
clf.predict([[1.2,1.3,4.1,1.5,1.1,4.5,5.1,4.5,1.1,1.2,1.3,4.1,1.5,1.1]])

array([0], dtype=int64)

In [13]:
import pickle
pickle.dump(clf,open("medical claims.pk1","wb"))